---
import ArrowDown from "@lucide/astro/icons/arrow-down";
---

<div class="hero bg-base-100 min-h-screen items-start pt-40">
  <div class="hero-content text-center">
    <div class="max-w-lg lg:max-w-2xl space-y-10">
      <div class="badge badge-soft lg:badge-lg badge-primary">Fundamentos Web — Proyecto Educativo</div>
      
      <h1 class="text-5xl md:text-6xl lg:text-8xl font-bold">Web <span class="text-primary">Assembly</span></h1>
      
      <p class="text-base-content/70 lg:text-2xl">
        El formato binario que lleva rendimiento casi nativo a la web. Descubre
        su historia, ventajas y por qué está transformando el desarrollo
        moderno.
      </p>

      <div class="flex gap-4 justify-center">
        <button class="btn btn-sm md:btn-md btn-primary">Explorar<ArrowDown size={20} /></button>
        <button class="btn btn-sm md:btn-md btn-outline">Ver alternativas</button>
      </div>
    </div>
  </div>
</div>
