---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
  title: string;
  description: string;
  icon: any;
}

const { title, description, icon: Icon, class: className, ...rest } = Astro.props;
---

<div class:list={["card shadow-sm", className]}, {...rest}>
  <div class="card-body space-y-3">
    <div class="badge badge-soft badge-primary badge-lg px-2 py-5">
      <Icon />
    </div>
    <h2 class="card-title">{title}</h2>
    <p class="text-base-content/70">{description}</p>
  </div>
</div>
