---
interface Props {
  overline: string;
  title: string;
  background?: string;
}

const { overline, title, background = "bg-base-200" } = Astro.props;
---

<div class:list={[background, "py-20"]}>
  <div class="card-body space-y-14">
    <div class="text-center space-y-3">
      <h2 class="text-lg font-bold text-primary uppercase">{overline}</h2>
      <p class="text-4xl font-bold">{title}</p>
    </div>
    <slot />
  </div>
</div>
